{{define "content"}}
<h1 class="mdl-typography--display-1">Add Note</h1>
<form hx-post="/add-note" hx-swap="outerHTML">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name" name="name" required>
        <label class="mdl-textfield__label" for="name">Note Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows="3" id="content" name="content" required></textarea>
        <label class="mdl-textfield__label" for="content">Note Content</label>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Add Note
    </button>
</form>
<a href="/" class="mdl-button mdl-js-button mdl-button--raised">Back to Todo List</a>
{{end}}